.b{
    height: 60px;
    width: 60px;
    border-top-left-radius: 90%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 20%;
    rotate: 45deg;
    animation-name: "myanime1";
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    top: 600px;
    right: 100px;
    background-color: rgb(210, 230, 60);
}


@keyframes myanime{
    0%{ 
        transform: translate(0px,0px) ; 
       
    }5%{
        transform: translate(-50px,-50px);
       
    }15%{
        transform: translate(50px,-100px)skew(-6deg,-4deg);
       
    }20%{
        transform: translate(-50px,-150px);
       
    }25%{
        transform: translate(50px,-200px)skew(-6deg,-4deg);
       
    }30%{
        transform: translate(-50px,-250px);
       
    }35%{
        transform: translate(50px,-300px)skew(-6deg,-4deg);
       
    }40%{
        transform: translate(-50px,-350px);
       
    }45%{
        transform: translate(50px,-400px)skew(-6deg,-4deg);
       
    }50%{
        transform: translate(-50px,-450px)scaleX(1.2)scaleY(1.2);
       
    }
    55%{
        transform: translate(50px,-500px)skew(-6deg,-4deg)scaleX(1.5)scaleY(1.5); 
    }
    60%{
        transform: translate(50px,-550px)scaleX(1.3)scaleY(1.3);
       
    }
    65%{
        transform: translate(-50px,-600px)scaleX(1.1)scaleY(1.1);
       
    }
    70%{
        transform: translate(50px,-650px)scaleX(0.9)scaleY(0.9);
       
    }
    75%{
        transform: translate(-50px,-700px)scaleX(0.8)scaleY(0.8);
       
    }
    80%{
        transform: translate(50px,-720px)scaleX(0.7)scaleY(0.7);
       
    }
    85%{
        transform: translate(-50px,-730px)scaleX(0.6)scaleY(0.6);
       
    }
    90%{
        transform: translate(50px,-740px)scaleX(0.5)scaleY(0.6);
       
    }
    95%{
        transform: translate(-50px,-750px)scaleX(0.4)scaleY(0.6);
       
    }
    100%{
        transform: translate(50px,-760px)scaleX(0)scaleY(0.6); 
    }
}

@keyframes myanime1{
    0%{
        transform: translate(50px,-760px)scaleX(0)scaleY(0.6); 
    }
    10%{
       transform: translate(35px,-790px)scaleX(0)scaleY(0.6); 
    }
    20%{
        transform: translate(50px,-770px)scaleX(0)scaleY(0.55); 
    }
    30%{
      transform: translate(70px,-800px)scaleX(0)scaleY(0.50); 
    }
    40%{
      transform: translate(50px,-760px)scaleX(0)scaleY(0.45); 
    }
    50%{
      transform: translate(80px,-830px)scaleX(0)scaleY(0.4); 
    }
    60%{
      transform: translate(50px,-760px)scaleX(0)scaleY(0.35); 
    }
    70%{
       transform: translate(50px,-760px)scaleX(0)scaleY(0.3); 
    }
    80%{
      transform: translate(50px,-760px)scaleX(0)scaleY(0.25); 
    }
    90%{
         transform: translate(50px,-760px)scaleX(0)scaleY(0.2); 
    }
    100%{
        transform: translate(50px,-760px)scaleX(0)scaleY(0.1); 
    }
} 