.petbot0{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 90px;
    bottom: 4px;
    border-radius: 50%;
    animation-name: "mov0";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999;
}


.petbot1{
    height: 30px;
    width: 80px;
    background-color: #7F77DD ;
    position: absolute;
    left: 20px;
    bottom: 19px;
    transform: skewX(-10deg);
    border-radius: 20%;
    animation-name: "mov1";
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}

.petbot2{
    height: 20px;
    width: 5px;
    background-color: #080620 ;
    position: absolute;
    left: 44px;
    bottom: 0px;
    transform: skewX(20deg);
    animation-name: "mov2";
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.petbot3{
    height: 20px;
    width: 5px;
    background-color: #080620 ;
    position: absolute;
    left: 24px;
    bottom: 0px;
    transform: skewX(-20deg);
    animation-name: "mov3";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.petbot4{
    height: 20px;
    width: 5px;
    background-color: #080620 ;
    position: absolute;
    left: 90px;
    bottom: 0px;
    transform: skewX(20deg);
    animation-name: "mov4";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.petbot5{
    height: 20px;
    width: 5px;
    background-color: #080620 ;
    position: absolute;
    left: 74px;
    bottom: 0px;
    transform: skewX(-20deg);
    animation-name: "mov5";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.petbot6{
    height: 15px;
    width: 20px;
    background-color: #7F77DD ;
    position: absolute;
    left: 114px;
    bottom: 65px;
    transform: skewX(-10deg);
    border-radius: 20%;
    animation-name: "mov6";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999;
}

.petbot7{
    height: 8px;
    width: 4px;
    background-color: #b19e26 ;
    position: absolute;
    left: 134px;
    bottom: 70px;
    animation-name: "mov7";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999;
}

.petbot8{
    height: 30px;
    width: 4px;
    background-color: #080620 ;
    position: absolute;
    left: 122px;
    bottom: 35px;
    transform: skewX(20deg);
    animation-name: "mov8";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.petbot9{
    height: 24px;
    width: 4px;
    background-color: #080620 ;
    position: absolute;
    rotate: 90deg;
    left: 110px;
    bottom: 25px;
    animation-name: "mov9";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.petbot10{
    height: 14px;
    width: 14px;
    background-color: #000000 ;
    position: absolute;
    left: 20px;
    bottom: 0px;
    border-radius: 50%;
    animation-name: "mov10";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.petbot11{
    height: 14px;
    width: 14px;
    background-color: #080620 ;
    position: absolute;
    left: 39px;
    bottom: 0px;
    border-radius: 50%;
    animation-name: "mov11";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.petbot12{
    height: 14px;
    width: 14px;
    background-color: #080620 ;
    position: absolute;
    left: 69px;
    bottom: 0px;
    border-radius: 50%;
    animation-name: "mov12";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.petbot13{
    height: 14px;
    width: 14px;
    background-color: #080620 ;
    position: absolute;
    left: 85px;
    bottom: 0px;
    border-radius: 50%;
    animation-name: "mov13";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.petbot14{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 23px;
    bottom: 4px;
    border-radius: 50%;
    animation-name: "mov14";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.petbot15{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 43px;
    bottom: 4px;
    border-radius: 50%;
    animation-name: "mov15";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.petbot16{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 74px;
    bottom: 4px;
    border-radius: 50%;
    animation-name: "mov16";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}





/* ------------------------------------------------animations----------------------------------------------------------------------------------------------------------------------- */




@keyframes mov0{
       0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    

@keyframes mov1{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}

@keyframes mov2{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    

@keyframes mov3{
       0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    

@keyframes mov4{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    

@keyframes mov5{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    

@keyframes mov6{
    0%{
       transform: translate(0px)rotate(0deg);
    }5%{
       transform: translate(50px)rotate(45deg);
    }10%{
       transform: translate(100px)rotate(70deg);
    }15%{
       transform: translate(150px)rotate(45deg);
    }20%{
       transform: translate(200px)rotate(0deg);
    }25%{
       transform: translate(250px)rotate(45deg);
    }30%{
       transform: translate(300px)rotate(70deg);
    }35%{
       transform: translate(350px)rotate(45deg);
    }40%{
       transform: translate(400px)rotate(0deg);
    }45%{
       transform: translate(450px)rotate(45deg);
    }50%{
       transform: translate(500px)rotate(70deg);
    }55%{
       transform: translate(550px)rotate(45deg);
    }60%{
       transform: translate(600px)rotate(0deg);
    }65%{
       transform: translate(650px)rotate(45deg);
    }70%{
       transform: translate(700px)rotate(70deg);
    }75%{
       transform: translate(750px)rotate(45deg);
    }80%{
       transform: translate(800px)rotate(0deg);
    }85%{
      transform: translate(850px)rotate(45deg);
    }90%{
      transform: translate(900px)rotate(70deg);
    }95%{
      transform: translate(950px)rotate(45deg);
    }100%{
      transform: translate(1000px)rotate(0deg);
    }
}
    

@keyframes mov7{
       0%{
       transform: translate(0px)rotate(0deg);
    }5%{
       transform: translate(50px)translateY(8px)(45deg);
    }10%{
       transform: translate(92px)translateY(12px)rotate(70deg);
    }15%{
       transform: translate(146px)translateY(8px)rotate(45deg);
    }20%{
       transform: translate(200px)rotate(0deg);
    }25%{
       transform: translate(246px)translateY(8px)rotate(45deg);
    }30%{
       transform: translate(292px)translateY(12px)rotate(70deg);
    }35%{
       transform: translate(349px)translateY(8px)rotate(45deg);
    }40%{
       transform: translate(398px)rotate(0deg);
    }45%{
       transform: translate(448px)translateY(8px)rotate(45deg);
    }50%{
       transform: translate(491px)translateY(12px)rotate(70deg);
    }55%{
       transform: translate(548px)translateY(8px)rotate(45deg);
    }60%{
       transform: translate(600px)rotate(0deg);
    }65%{
       transform: translate(646px)translateY(8px)rotate(45deg);
    }70%{
       transform: translate(692px)translateY(12px)rotate(70deg);
    }75%{
       transform: translate(750px)translateY(8px)rotate(45deg);
    }80%{
       transform: translate(798px)rotate(0deg);
    }85%{
      transform: translate(842px)translateY(8px)rotate(45deg);
    }90%{
      transform: translate(892px)translateY(12px)rotate(70deg);
    }95%{
      transform: translate(946px)translateY(8px)rotate(45deg);
    }100%{
      transform: translate(1000px)rotate(0deg);
    }
}
    

@keyframes mov8{
       0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}

@keyframes mov9{
       0%{
       transform: translateY(0px)  ;
    }5%{
       transform: translateY(-50px);
    }10%{
       transform: translateY(-100px);
    }15%{
       transform: translateY(-150px);
    }20%{
       transform: translateY(-200px);
    }25%{
       transform: translateY(-250px);
    }30%{
       transform: translateY(-300px);
    }35%{
       transform: translateY(-350px);
    }40%{
       transform: translateY(-400px);
    }45%{
       transform: translateY(-450px);
    }50%{
       transform: translateY(-500px);
    }55%{
       transform: translateY(-550px);
    }60%{
       transform: translateY(-600px);
    }65%{
       transform: translateY(-650px);
    }70%{
       transform: translateY(-700px);
    }75%{
       transform: translateY(-750px);
    }80%{
       transform: translateY(-800px);
    }85%{
      transform: translateY(-850px);
    }90%{
      transform: translateY(-900px);
    }95%{
      transform: translateY(-950px);
    }100%{
      transform: translateY(-1000px);
    }
}


@keyframes mov10{
     0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}

@keyframes mov11{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    


@keyframes mov12{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    


@keyframes mov13{
     0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}


@keyframes mov14{
  0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
     


@keyframes mov15{
   0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}
    


@keyframes mov16{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px);
    }25%{
       transform: translate(250px);
    }30%{
       transform: translate(300px);
    }35%{
       transform: translate(350px);
    }40%{
       transform: translate(400px);
    }45%{
       transform: translate(450px);
    }50%{
       transform: translate(500px);
    }55%{
       transform: translate(550px);
    }60%{
       transform: translate(600px);
    }65%{
       transform: translate(650px);
    }70%{
       transform: translate(700px);
    }75%{
       transform: translate(750px);
    }80%{
       transform: translate(800px);
    }85%{
      transform: translate(850px);
    }90%{
      transform: translate(900px);
    }95%{
      transform: translate(950px);
    }100%{
      transform: translate(1000px);
    }
}


    
    