.petbot0{
    height: 6px;
    width: 6px;
    background-color: #ffffff  ;
;
    position: absolute;
    left: 90px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov0";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 9999999;
}


.petbot1{
    height: 30px;
    width: 80px;
    background-color:  #D4AF37 ;
    position: absolute;
    left: 20px;
    bottom: 110px;
    transform: skewX(-10deg);
    border-radius: 20%;
    animation-name: "mov1";
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 9999999;
}

.petbot2{
    height: 20px;
    width: 5px;
    background-color: #000000;
    position: absolute;
    left: 44px;
    bottom: 95px;
    transform: skewX(20deg);
    animation-name: "mov2";
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 999999;
}

.petbot3{
    height: 20px;
    width: 5px;
    background-color: #000000 ;
    position: absolute;
    left: 24px;
    bottom: 95px;
    transform: skewX(-20deg);
    animation-name: "mov3";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot4{
    height: 20px;
    width: 5px;
    background-color: #000000 ;
    position: absolute;
    left: 90px;
    bottom: 95px;
    transform: skewX(20deg);
    animation-name: "mov4";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot5{
    height: 20px;
    width: 5px;
    background-color: #000000 ;
    position: absolute;
    left: 74px;
    bottom: 95px;
    transform: skewX(-20deg);
    animation-name: "mov5";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot6{
    height: 15px;
    width: 20px;
    background-color:  #D4AF37 ;
    position: absolute;
    left: 114px;
    bottom: 152px;
    transform: skewX(-10deg);
    border-radius: 20%;
    animation-name: "mov6";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot7{
    height: 8px;
    width: 4px;
    background-color: #ffffff  ;
    position: absolute;
    left: 134px;
    bottom: 152px;
    animation-name: "mov7";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot8{
    height: 30px;
    width: 4px;
    background-color: #000000 ;
    position: absolute;
    left: 121px;
    bottom: 125px;
    transform: skewX(20deg);
    animation-name: "mov8";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 99999;
}

.petbot9{
    height: 24px;
    width: 4px;
    background-color: #000000 ;
    position: absolute;
    rotate: 90deg;
    left: 108px;
    bottom: 115px;
    animation-name: "mov9";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot10{
    height: 14px;
    width: 14px;
    background-color: #000000 ;
    position: absolute;
    left: 20px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov10";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}


.petbot11{
    height: 14px;
    width: 14px;
    background-color: #000000 ;
    position: absolute;
    left: 39px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov11";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}


.petbot12{
    height: 14px;
    width: 14px;
    background-color: #000000;
    position: absolute;
    left: 69px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov12";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}


.petbot13{
    height: 14px;
    width: 14px;
    background-color: #000000 ;
    position: absolute;
    left: 85px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov13";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}

.petbot14{
    height: 6px;
    width: 6px;
    background-color: #ffffff  ;
    position: absolute;
    left: 23px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov14";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}


.petbot15{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 43px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov15";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}


.petbot16{
    height: 6px;
    width: 6px;
    background-color: #ffffff ;
    position: absolute;
    left: 74px;
    bottom: 85px;
    border-radius: 50%;
    animation-name: "mov16";
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 999999;
}





/* ------------------------------------------------animations----------------------------------------------------------------------------------------------------------------------- */




@keyframes mov0{
       0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(8px);
    }40%{
       transform: translate(400px) translateY(11px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(19px);
    }55%{
       transform: translate(550px)translateY(25px);
    }60%{
       transform: translate(600px)translateY(30px);
    }65%{
       transform: translate(650px)translateY(38px);
    }70%{
       transform: translate(700px)translateY(44px);
    }75%{
       transform: translate(750px)translateY(24px);
    }80%{
       transform: translate(800px)translateY(16px);
    }85%{
      transform: translate(850px)translateY(8px);
    }90%{
      transform: translate(900px)translateY(-4px);
    }95%{
      transform: translate(950px)translateY(-10px);
    }100%{
      transform: translate(1000px)translateY(-12px);
    }
}
    

@keyframes mov1{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px) rotate(5deg);
    }40%{
       transform: translate(400px) translateY(8px) rotate(6deg);
    }45%{
       transform: translate(450px) translateY(12px) rotate(7deg);
    }50%{
       transform: translate(500px)translateY(14px) rotate(8deg);
    }55%{
       transform: translate(550px)translateY(19px) rotate(8deg);
    }60%{
       transform: translate(600px)translateY(25px) rotate(8deg);
    }65%{
       transform: translate(650px)translateY(31px) rotate(8deg);
    }70%{
       transform: translate(700px)translateY(35px)  rotate(8deg);
    }75%{
       transform: translate(750px)translateY(30px)  rotate(-7deg);
    }80%{
       transform: translate(800px)translateY(20px)  rotate(-6deg);
    }85%{
      transform: translate(850px)translateY(10px)  rotate(-5deg);
    }90%{
      transform: translate(900px)translateY(0px)  rotate(-7deg);
    }95%{
      transform: translate(950px)translateY(-8px) rotate(-6deg);
    }100%{
      transform: translate(1000px)translateY(-10px) rotate(-4deg);
    }
}

@keyframes mov2{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(14px);
    }55%{
       transform: translate(550px)translateY(19px);
    }60%{
       transform: translate(600px)translateY(25px);
    }65%{
       transform: translate(650px)translateY(31px);
    }70%{
       transform: translate(700px)translateY(35px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(24px);
    }85%{
      transform: translate(850px)translateY(12px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-10px);
    }
}
    

@keyframes mov3{
        0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(5px);
    }30%{
       transform: translate(300px) translateY(6px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(12px);
    }55%{
       transform: translate(550px)translateY(17px);
    }60%{
       transform: translate(600px)translateY(23px);
    }65%{
       transform: translate(650px)translateY(29px);
    }70%{
       transform: translate(700px)translateY(33px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(28px);
    }85%{
      transform: translate(850px)translateY(16px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-8px);
    }
}
    

@keyframes mov4{
        0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(8px);
    }40%{
       transform: translate(400px) translateY(11px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(19px);
    }55%{
       transform: translate(550px)translateY(25px);
    }60%{
       transform: translate(600px)translateY(30px);
    }65%{
       transform: translate(650px)translateY(38px);
    }70%{
       transform: translate(700px)translateY(44px);
    }75%{
       transform: translate(750px)translateY(24px);
    }80%{
       transform: translate(800px)translateY(16px);
    }85%{
      transform: translate(850px)translateY(8px);
    }90%{
      transform: translate(900px)translateY(-4px);
    }95%{
      transform: translate(950px)translateY(-10px);
    }100%{
      transform: translate(1000px)translateY(-12px);
    }
}
    

@keyframes mov5{
     0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(9px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(17px);
    }55%{
       transform: translate(550px)translateY(22px);
    }60%{
       transform: translate(600px)translateY(28px);
    }65%{
       transform: translate(650px)translateY(34px);
    }70%{
       transform: translate(700px)translateY(38px);
    }75%{
       transform: translate(750px)translateY(28px);
    }80%{
       transform: translate(800px) translateY(18px);
    }85%{
      transform: translate(850px) translateY(8px);
    }90%{
      transform: translate(900px)translateY(1px);
    }95%{
      transform: translate(950px) translateY(-6px);
    }100%{
      transform: translate(1000px) translateY(-12px);
    }
}
    

@keyframes mov6{
    0%{
       transform: translate(0px)rotate(0deg);
    }5%{
       transform: translate(50px)rotate(45deg);
    }10%{
       transform: translate(100px)rotate(70deg);
    }15%{
       transform: translate(150px)rotate(45deg);
    }20%{
       transform: translate(200px)rotate(0deg);
    }25%{
       transform: translate(250px) translateY(4px) rotate(45deg);
    }30%{
       transform: translate(300px) translateY(7px) rotate(70deg);
    }35%{
       transform: translate(350px) translateY(9px) rotate(45deg);
    }40%{
       transform: translate(400px) translateY(11px) rotate(0deg);
    }45%{
       transform: translate(450px) translateY(16px) rotate(45deg);
    }50%{
       transform: translate(500px) translateY(18px) rotate(70deg);
    }55%{
       transform: translate(550px) translateY(23px) rotate(45deg);
    }60%{
       transform: translate(600px) translateY(29px) rotate(0deg);
    }65%{
       transform: translate(650px) translateY(35px) rotate(45deg);
    }70%{
       transform: translate(700px) translateY(39px) rotate(70deg);
    }75%{
       transform: translate(750px)translateY(28px)rotate(45deg);
    }80%{
       transform: translate(800px)translateY(26px)rotate(0deg);
    }85%{
      transform: translate(850px)translateY(5px)rotate(45deg);
    }90%{
      transform: translate(900px)translateY(-2px)rotate(70deg);
    }95%{
      transform: translate(950px)translateY(-8px)rotate(45deg);
    }100%{
      transform: translate(1000px)translateY(-12px)rotate(0deg);
    }
}
    

@keyframes mov7{
       0%{
       transform: translate(0px)rotate(0deg);
    }5%{
       transform: translate(50px)translateY(8px)(45deg);
    }10%{
       transform: translate(92px)translateY(12px)rotate(70deg);
    }15%{
       transform: translate(146px)translateY(8px)rotate(45deg);
    }20%{
       transform: translate(200px)rotate(0deg);
    }25%{
       transform: translate(246px)translateY(8px)rotate(45deg);
    }30%{
       transform: translate(292px)translateY(12px)rotate(70deg);
    }35%{
       transform: translate(349px)translateY(8px)rotate(45deg);
    }40%{
       transform: translate(398px)rotate(0deg);
    }45%{
       transform: translate(448px)translateY(8px)rotate(45deg);
    }50%{
       transform: translate(491px)translateY(12px)rotate(70deg);
    }55%{
       transform: translate(548px)translateY(8px)rotate(45deg);
    }60%{
       transform: translate(600px)rotate(0deg);
    }65%{
       transform: translate(646px)translateY(8px)rotate(45deg);
    }70%{
       transform: translate(692px)translateY(12px)rotate(70deg);
    }75%{
       transform: translate(750px)translateY(8px)rotate(45deg);
    }80%{
       transform: translate(798px)rotate(0deg);
    }85%{
      transform: translate(842px)translateY(8px)rotate(45deg);
    }90%{
      transform: translate(892px)translateY(12px)rotate(70deg);
    }95%{
      transform: translate(946px)translateY(8px)rotate(45deg);
    }100%{
      transform: translate(1000px)rotate(0deg);
    }
}
    

@keyframes mov8{
      0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translate(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(7px);
    }35%{
       transform: translate(350px) translateY(9px) rotate(5deg);
    }40%{
       transform: translate(400px) translateY(11px) rotate(6deg);
    }45%{
       transform: translate(450px) translateY(16px) rotate(7deg);
    }50%{
       transform: translate(500px) translateY(24px) rotate(8deg);
    }55%{
       transform: translate(550px) translateY(25px) rotate(8deg);
    }60%{
       transform: translate(600px) translateY(26px) rotate(8deg);
    }65%{
       transform: translate(650px) translateY(35px) rotate(8deg);
    }70%{
       transform: translate(700px) translateY(39px);
    }75%{
       transform: translate(750px)translateY(18px);
    }80%{
       transform: translate(800px)translateY(16px);
    }85%{
      transform: translate(850px)translateY(0px);
    }90%{
      transform: translate(900px)translateY(-4px);
    }95%{
      transform: translate(950px)translateY(-10px);
    }100%{
      transform: translate(1000px)translateY(-12px);
    }
}

@keyframes mov9{
        0%{
       transform: translateY(0px);
    }5%{
       transform: translateY(-50px);
    }10%{
       transform: translateY(-100px);
    }15%{
       transform: translateY(-150px);
    }20%{
       transform: translateY(-200px) ;
    }25%{
       transform: translateY(-250px) translateX(4px);
    }30%{
       transform: translateY(-300px) translateX(7px);
    }35%{
       transform: translateY(-350px) translateX(9px) rotate(5deg);
    }40%{
       transform: translateY(-400px) translateX(11px) rotate(6deg);
    }45%{
       transform: translateY(-450px) translateX(16px) rotate(7deg);
    }50%{
       transform: translateY(-500px) translateX(24px) rotate(8deg);
    }55%{
       transform: translateY(-550px) translateX(25px) rotate(8deg);
    }60%{
       transform: translateY(-600px) translateX(26px) rotate(8deg);
    }65%{
       transform: translateY(-650px) translateX(35px) rotate(8deg);
    }70%{
       transform: translateY(-700px) translateX(39px);
    }75%{
       transform: translateY(-750px) translateX(18px);
    }80%{
       transform: translateY(-800px) translateX(16px);
    }85%{
      transform: translateY(-850px) translateX(5px)rotate(-9deg);
    }90%{
      transform: translateY(-900px) translateX(-2px)rotate(-8deg);
    }95%{
      transform: translateY(-950px) translateX(-8px);
    }100%{
      transform: translateY(-1000px) translateX(-12px);
    }
}


@keyframes mov10{
     0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(5px);
    }30%{
       transform: translate(300px) translateY(6px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(12px);
    }55%{
       transform: translate(550px)translateY(17px);
    }60%{
       transform: translate(600px)translateY(23px);
    }65%{
       transform: translate(650px)translateY(29px);
    }70%{
       transform: translate(700px)translateY(33px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(28px);
    }85%{
      transform: translate(850px)translateY(16px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-8px);
    }
}

@keyframes mov11{
   0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(14px);
    }55%{
       transform: translate(550px)translateY(19px);
    }60%{
       transform: translate(600px)translateY(25px);
    }65%{
       transform: translate(650px)translateY(31px);
    }70%{
       transform: translate(700px)translateY(35px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(24px);
    }85%{
      transform: translate(850px)translateY(12px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-10px);
    }
}
    


@keyframes mov12{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(9px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(17px);
    }55%{
       transform: translate(550px)translateY(22px);
    }60%{
       transform: translate(600px)translateY(28px);
    }65%{
       transform: translate(650px)translateY(34px);
    }70%{
       transform: translate(700px)translateY(38px);
    }75%{
       transform: translate(750px)translateY(28px);
    }80%{
       transform: translate(800px) translateY(18px);
    }85%{
      transform: translate(850px) translateY(8px);
    }90%{
      transform: translate(900px)translateY(1px);
    }95%{
      transform: translate(950px) translateY(-6px);
    }100%{
      transform: translate(1000px) translateY(-12px);
    }
}
    


@keyframes mov13{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(8px);
    }40%{
       transform: translate(400px) translateY(11px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(19px);
    }55%{
       transform: translate(550px)translateY(25px);
    }60%{
       transform: translate(600px)translateY(30px);
    }65%{
       transform: translate(650px)translateY(38px);
    }70%{
       transform: translate(700px)translateY(44px);
    }75%{
       transform: translate(750px)translateY(24px);
    }80%{
       transform: translate(800px)translateY(16px);
    }85%{
      transform: translate(850px)translateY(8px);
    }90%{
      transform: translate(900px)translateY(-4px);
    }95%{
      transform: translate(950px)translateY(-10px);
    }100%{
      transform: translate(1000px)translateY(-12px);
    }
}


@keyframes mov14{
    0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(5px);
    }30%{
       transform: translate(300px) translateY(6px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(12px);
    }55%{
       transform: translate(550px)translateY(17px);
    }60%{
       transform: translate(600px)translateY(23px);
    }65%{
       transform: translate(650px)translateY(29px);
    }70%{
       transform: translate(700px)translateY(33px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(28px);
    }85%{
      transform: translate(850px)translateY(16px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-8px);
    }
}
     


@keyframes mov15{
   0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(8px);
    }45%{
       transform: translate(450px) translateY(10px);
    }50%{
       transform: translate(500px)translateY(14px);
    }55%{
       transform: translate(550px)translateY(19px);
    }60%{
       transform: translate(600px)translateY(25px);
    }65%{
       transform: translate(650px)translateY(31px);
    }70%{
       transform: translate(700px)translateY(35px);
    }75%{
       transform: translate(750px)translateY(38px);
    }80%{
       transform: translate(800px)translateY(24px);
    }85%{
      transform: translate(850px)translateY(12px);
    }90%{
      transform: translate(900px)translateY(5px);
    }95%{
      transform: translate(950px)translateY(-5px);
    }100%{
      transform: translate(1000px)translateY(-10px);
    }
}
    


@keyframes mov16{
0%{
       transform: translate(0px);
    }5%{
       transform: translate(50px);
    }10%{
       transform: translate(100px);
    }15%{
       transform: translate(150px);
    }20%{
       transform: translateX(200px) ;
    }25%{
       transform: translate(250px) translateY(4px);
    }30%{
       transform: translate(300px) translateY(5px);
    }35%{
       transform: translate(350px) translateY(6px);
    }40%{
       transform: translate(400px) translateY(9px);
    }45%{
       transform: translate(450px) translateY(15px);
    }50%{
       transform: translate(500px)translateY(17px);
    }55%{
       transform: translate(550px)translateY(22px);
    }60%{
       transform: translate(600px)translateY(28px);
    }65%{
       transform: translate(650px)translateY(34px);
    }70%{
       transform: translate(700px)translateY(38px);
    }75%{
       transform: translate(750px)translateY(28px);
    }80%{
       transform: translate(800px) translateY(18px);
    }85%{
      transform: translate(850px) translateY(8px);
    }90%{
      transform: translate(900px)translateY(1px);
    }95%{
      transform: translate(950px) translateY(-6px);
    }100%{
      transform: translate(1000px) translateY(-12px);
    }
}



    
    