*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C8E6C9;
}

.pbox{
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}


.box{
    height: 30vmin;
    width: 20vmin;
    font-size: 300px;
    padding-left: 60px;
    font-family: "Bangers";
    outline: none;
    background-color: #C8E6C9;
}


.h{
    display: flex;
    font-family:"Rock Salt";
    color: #154c79;
    width: 800px;
    height: 100px;
    position: fixed;
    left: 480px;
    top: 0px;
    font-weight: 700;
    font-size: 40px;
}

.coun1{
    height: 40px;
    width: 70px;
    display: flex;
    position: absolute;
    right: 110px;
    top: 40px;
    justify-content: space-between;
}

.c1{
    height: 40px;
    width: 30px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.c2{
    height: 40px;
    width: 30px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    font-family:"Rock Salt";
}

#b1{
    position: absolute;
    top: 110px;
    left: 0px;
}

#b2{
    position: absolute;
    top: 110px;
    right: 30px;
}

#b3{
    position: absolute;
    top: 110px;
    left: 500px;
}

#b4{
    position: absolute;
    top: 110px;
    left: 900px;
}

#b5{
    position: absolute;
    top: 454px;
    left: 80px;
}

#b6{
    position: absolute;
    top: 454px;
    Right: 60px;
}

#b7{
    position: absolute;
    top: 454px;
    left: 600px;
}

#b8{
    position: absolute;
    top: 454px;
    left: 300px;
}